<div class="container mt-4">
  <h1 class="text-center mb-4">C'est nous l'équipe !</h1>
  <div class="row">
    <!-- Membre 1 : Louis -->
    <div class="col-md-4 mb-4 carrejaune_accueil div d-flex align-items-center">
      <div class="card border rounded">
        <img src="https://qph.cf2.poecdn.net/main-sdxl_a4288b7d07654f93c70985bbb6cfcd174ea8d509ecabe2b3b87c26a8b8cadf56.png?w=1024&h=1024" class="card-img-top rounded-circle" alt="Louis">
        <div class="card-body p-3">
          <h5 class="card-title">Louis</h5>
          <p class="card-text">"web-developper back-end, spécialiste dans l'événementiel"</p>
        </div>
      </div>
    </div>
    <!-- Membre 2 : Lala -->
    <div class="col-md-4 mb-4 carrejaune_accueil div d-flex align-items-center">
      <div class="card border rounded">
        <img src="https://qph.cf2.poecdn.net/main-sdxl_60acb1edb52890627c455be9e10f11d524a1c8e2df7a2f28dc9c144f97c2321c.png?w=1024&h=1024" class="card-img-top rounded-circle" alt="Lala">
        <div class="card-body p-3">
          <h5 class="card-title">Lala</h5>
          <p class="card-text">"web-developpeur back-end, spécialiste dans l'événementiel"</p>
        </div>
      </div>
    </div>
    <!-- Membre 3 : Mathieu -->
    <div class="col-md-4 mb-4 carrejaune_accueil div d-flex align-items-center">
      <div class="card border rounded">
        <img src="https://qph.cf2.poecdn.net/main-sdxl_5536d9ed090ef904ceb607d99b7857cc80d87f252765b6fa40aac2c3d873b7e3.png?w=1024&h=1024" class="card-img-top rounded-circle" alt="Mathieu">
        <div class="card-body p-3">
          <h5 class="card-title">Mathieu</h5>
          <p class="card-text">"web-development back/front-end, spécialiste dans l'événementiel"</p>
        </div>
      </div>
    </div>
    <!-- Membre 4 : Flo -->
    <div class="col-md-4 mb-4 carrejaune_accueil div d-flex align-items-center">
      <div class="card border rounded">
        <img src="https://qph.cf2.poecdn.net/main-sdxl_a9ce96e6be5069342a712b90325cf7c4472388130ff953dd7497c22c10314a79.png?w=1024&h=1024" class="card-img-top rounded-circle" alt="Flo">
        <div class="card-body p-3">
          <h5 class="card-title">Flo</h5>
          <p class="card-text">"web-developpeur front, spécialiste dans l'événementiel"</p>
        </div>
      </div>
    </div>
    <!-- Membre 5 : Robin -->
    <div class="col-md-4 mb-4 carrejaune_accueil div d-flex align-items-center">
      <div class="card border rounded">
        <img src="https://qph.cf2.poecdn.net/main-sdxl_4819588f127c06d06bc8f5ff36690d9110ec85a5171b60fffaca5e74a1beb23e.png?w=1024&h=1024" class="card-img-top rounded-circle" alt="Robin">
        <div class="card-body p-3">
          <h5 class="card-title">Robin</h5>
          <p class="card-text">"web-developpeur back/front, spécialiste dans l'événementiel"</p>
        </div>
      </div>
    </div>
  </div>
</div>
