<div class="container mt-4 ">
  <h1 class="text-center mb-4">C'est nous l'équipe !</h1>
  <div class="row">
    <!-- Membre 1 : Louis -->
    <div class="col-md-4 mb-4 carrejaune_accueil div">
      <div class="card border rounded">
        <img src="https://cdn.discordapp.com/attachments/1178634390830579752/1179575947125608520/Louis.png?ex=657a48b5&is=6567d3b5&hm=41c3f64d850211c17aee281815dcda72fcaf54b05a2914f6849c07a6a9c277bd&" class="card-img-top rounded-circle" alt="Louis">
        <div class="card-body d-flex flex-column p-3">
          <h5 class="card-title">Louis</h5>
          <p class="card-text flex-grow-1">"Miaou Miaou Mia"</p>
        </div>
      </div>
    </div>
    <!-- Membre 2 : Lala -->
    <div class="col-md-4 mb-4 carrejaune_accueil div">
      <div class="card border rounded">
        <img src="https://cdn.discordapp.com/attachments/1178634390830579752/1179575946563563643/lalaina.png?ex=657a48b5&is=6567d3b5&hm=0a662989648c417e2145960fef256e3dfa924c9f902ea29002e85c64cd32753c&" class="card-img-top rounded-circle" alt="Lala">
        <div class="card-body d-flex flex-column p-3">
          <h5 class="card-title">Lala</h5>
          <p class="card-text flex-grow-1">"Mia Mia Miaou"</p>
        </div>
      </div>
    </div>
    <!-- Membre 3 : Mathieu -->
    <div class="col-md-4 mb-4 carrejaune_accueil div">
      <div class="card border rounded ">
        <img src="https://cdn.discordapp.com/attachments/1178634390830579752/1179575947935092846/Mathieu.png?ex=657a48b5&is=6567d3b5&hm=b238da0cedbf2c9c34d3abc6a8b2ce116b1ffda541cf1f98a4c268b128cd6487&" class="card-img-top rounded-circle" alt="Mathieu">
        <div class="card-body d-flex flex-column p-3">
          <h5 class="card-title">Mathieu</h5>
          <p class="card-text flex-grow-1">"Miaou Miaou Miaou"</p>
        </div>
      </div>
    </div>
    <!-- Membre 4 : Flo -->
    <div class="col-md-4 mb-4 carrejaune_accueil div">
      <div class="card border rounded ">
        <img src="https://cdn.discordapp.com/attachments/1178634390830579752/1179575948421640242/moi.png?ex=657a48b5&is=6567d3b5&hm=97d290d4b53a356d073667237e379c52935ae28a728f2af2fca6bfff42577b4d&" class="card-img-top rounded-circle" alt="Flo">
        <div class="card-body d-flex flex-column p-3">
          <h5 class="card-title">Flo</h5>
          <p class="card-text flex-grow-1">"Miaou Mia Mia"</p>
        </div>
      </div>
    </div>
    <!-- Membre 5 : Robin -->
    <div class="col-md-4 mb-4 carrejaune_accueil div">
      <div class="card border rounded ">
        <img src="https://cdn.discordapp.com/attachments/1178634390830579752/1179575949063376896/robin.png?ex=657a48b5&is=6567d3b5&hm=3e393023ca9b12b73eef7a1d0bd69eab307a13faf5c42b0c75ee1d5d0a7e464c&" class="card-img-top rounded-circle" alt="Robin">
        <div class="card-body d-flex flex-column p-3">
          <h5 class="card-title">Robin Potin Couffin</h5>
          <p class="card-text flex-grow-1">"Miaou Mia"</p>
        </div>
      </div>
    </div>
  </div>
</div>
