<%  "Qui sommes-nous" %>
<% content_for :meta_description, "Découvrez l'équipe exceptionnelle derrière Ceremonia, spécialisée dans le développement web et l'événementiel." %>
<div class="container mt-4">
  <h1 class="text-center mb-5">Les membres de notre équipe de développement</h1>
  <!-- Bloc des cartes -->
  <div class="row justify-content-center">
    <!-- Carte 1 -->
    <div class="col-md-6 mb-3">
      <div class="card mb-3 team-card" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://qph.cf2.poecdn.net/main-sdxl_989b9a15d1fed088be40bdcedc1012ba145c6db8fbc4a9c268cabbb49f01e7d0.png?w=1024&h=1024" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5>Louis</h5>
              <p>Développeur web</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 34 mins ago</small></p>
              <div class="btn-group" role="group">
                <a href="https://github.com/LouisKzy" class="btn btn-primary">GitHub de Louis</a>
                <a href="www.linkedin.com/in/louis-krejezy-412447259" class="btn btn-info">LinkedIn de Louis</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Carte 2 -->
    <div class="col-md-6 mb-3">
      <div class="card mb-3 team-card" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://qph.cf2.poecdn.net/main-sdxl_73a9ea89b3a62e51b06836bc4dbea750cb280f5fb828c049a10204ce89995bf7.png?w=1024&h=1024" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5>Lalaine</h5>
              <p>Développeur web</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 2 hours ago</small></p>
              <div class="btn-group" role="group">
                <a href="https://github.com/R4ja34" class="btn btn-primary">GitHub de Lala</a>
                <a href="www.linkedin.com/in/lalaina-rajaonarisoa-222197168" class="btn btn-info">LinkedIn de Lala</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Carte 3 -->
    <div class="col-md-6 mb-3">
      <div class="card mb-3 team-card" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://qph.cf2.poecdn.net/main-sdxl_3b0a7137e498a42a2ed7aeaef74e386fe3d2aac103c435d8e98713163500378a.png?w=1024&h=1024" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5>Mathieu</h5>
              <p>Développeur web</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 6 hours ago</small></p>
              <div class="btn-group" role="group">
                <a href="https://github.com/mathieuamacher" class="btn btn-primary">GitHub de Mathieu</a>
                <a href="https://linkedin.com/in/louisProfile" class="btn btn-info">LinkedIn de Mathieu</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Carte 4 -->
    <div class="col-md-6 mb-3">
      <div class="card mb-3 team-card" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://qph.cf2.poecdn.net/main-sdxl_4819588f127c06d06bc8f5ff36690d9110ec85a5171b60fffaca5e74a1beb23e.png?w=1024&h=1024" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5>Robin</h5>
              <p>Développeur web</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 1 week ago</small></p>
              <div class="btn-group" role="group">
                <a href="https://github.com/ho757uff" class="btn btn-primary">GitHub de Robin</a>
                <a href="https://www.linkedin.com/in/robin-debessel-52350827b" class="btn btn-info">LinkedIn de Robin</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Carte 5 -->
    <div class="col-md-6 mb-3">
      <div class="card mb-3 team-card" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://qph.cf2.poecdn.net/main-sdxl_a9ce96e6be5069342a712b90325cf7c4472388130ff953dd7497c22c10314a79.png?w=1024&h=1024" class="img-fluid rounded-start ml-auto" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5>Florian</h5>
              <p>Développeur web</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 hours ago</small></p>
              <div class="btn-group" role="group">
                <a href="https://github.com/florianrabbah" class="btn btn-primary">GitHub de Flo</a>
                <a href="https://linkedin.com/in/louisProfile" class="btn btn-info">LinkedIn de Flo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
