<% content_for :title, "Contactez-nous" %>
<% content_for :meta_description, "Besoin d'aide ou avez des questions ? Contactez-nous dès maintenant !" %>
<div class="container my-5">
  <h1 class="text-center mb-4">Contactez-nous !</h1>
  <p class="text-center">
    Avez-vous des questions ou des préoccupations ? N'hésitez pas à nous contacter. Nous sommes là pour vous assistez.
  </p>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form class="events-container-bg">
        <div class="mb-3">
          <label for="name" class="form-label">Nom et Prénom</label>
          <input type="text" class="form-control" id="name" placeholder="Veuillez indiquer votre nom et votre prénom">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Adresse email</label>
          <input type="email" class="form-control" id="email" placeholder="Veuillez indiquer ici votre email">
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Message</label>
          <textarea class="form-control" id="message" rows="5" placeholder="Détaillez-nous comment nous pouvons vous aider ici"></textarea>
        </div>
        <div class="text-center">
          <button type="submit" class="sweetButton" formaction="/">Envoyer</button>
        </div>
      </form>
    </div>
  </div>
  <p class="text-center mt-4">
    Vous pouvez nous joindre par email à <a href="ceremonia@yopmail.com">contact@notreapp.com</a>, ou par téléphone au 01 23 45 67 89.
  </p>
  <p class="text-center">
    Suivez-nous également sur nos réseaux sociaux pour rester informé des dernières nouvelles et événements.
  </p>
</div>
