<% content_for :title, "Contactez-nous" %>
<% content_for :meta_description, "Besoin d'aide ou avez des questions ? Contactez-nous dès maintenant !" %>
<div class="container-custom couple-bg-container apparitionprofil">
  <h2 style="color: #ffffff; text-shadow: 1px 1px 20px #000000;">Nous contacter</h1>
  <p class="text-center" style= "color: #ffffff; text-shadow: 1px 1px 20px #000000;">
    Avez-vous des questions ou des préoccupations ? Nous sommes là pour vous assister.
  </p>
  <div class="row justify-content-center">
    <div class="mb-3">
      <label for="name">Nom et Prénom</label>
      <input type="text" class="form-control" id="name" placeholder="Veuillez indiquer votre nom et votre prénom">
    </div>
    <div class="mb-3">
      <label for="email">Adresse email</label>
      <input type="email" class="form-control" id="email" placeholder="Veuillez indiquer ici votre email">
    </div>
    <div class="mb-3">
      <label for="message">Message</label>
      <textarea class="form-control" id="message" rows="5" placeholder="Détaillez-nous comment nous pouvons vous aider ici"></textarea>
    </div>
    <div class="text-center">
      <button type="submit" class="sweetButton" formaction="/">Envoyer</button>
    </div>
  </div>
</div>
<p class="text-center mt-4">
  Vous pouvez nous joindre par email à <a href="ceremonia@yopmail.com">contact@notreapp.com</a>, ou par téléphone au 01 23 45 67 89.
</p>
<p class="text-center">
  Suivez-nous également sur nos réseaux sociaux pour rester informé des dernières nouvelles et événements.
</p>
</div>
