<div class="container-fluid py-5 text-center">
  <div class="row justify-content-center">
    <div class="col-md-6 mb-4">
      <p>
        <span class="text-center">Chaque mariage est une histoire unique d'amour et de rêves. C'est l'occasion de créer des souvenirs précieux pour toute une vie.</span><br>
        <span class="text-center">Commencez par partager vos rêves avec votre partenaire et envisagez la journée parfaite que vous imaginez.</span><br>
        <span class="text-center">Ensemble, définissez les priorités et élaborez une liste de souhaits pour ce jour spécial. L'établissement d'un budget réaliste est essentiel pour que votre rêve devienne réalité.</span>
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 mb-4">
      <%= render 'layouts/carousel' %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 mt-4">
      <p>
        <span class="text-center">Le choix du lieu de mariage est une décision cruciale, car il détermine l'atmosphère de votre célébration.</span><br>
        <span class="text-center">Pensez également à la logistique, comme l'hébergement des invités et les transports.</span><br>
        <span class="text-center">La sélection des prestataires, tels que le traiteur, le photographe et le fleuriste, joue un rôle fondamental dans la création de souvenirs inoubliables qui dureront toute une vie.</span>
      </p>
    </div>
  </div>
</div>
