<% content_for :title, "Foire aux questions" %>
<% content_for :meta_description, "Trouvez les réponses aux questions fréquemment posées. Explorez notre FAQ pour obtenir des informations sur nos services et bien plus encore." %>
<div class="container my-5">
  <h1 class="text-center mb-4">FAQ</h1>
  <h4>
    <p class="text-center">Questions fréquemment posées</p>
  </h4>
  <div class="accordion" id="faqAccordion">
    <!-- Example item -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Pourquoi utiliser Ceremonia pour planifier mon mariage ?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          Notre site internet offre une plateforme conviviale et complète qui simplifie tout le processus de planification de mariage, vous permettant de gérer tous les aspects de votre grand jour en un seul endroit.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          En quoi votre service se distingue-t-il des autres sites de planification de mariage ?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          Notre service se distingue par sa personnalisation exceptionnelle, offrant des outils de planification adaptés à vos besoins spécifiques. Nous mettons l'accent sur la flexibilité pour répondre à toutes les demandes et préférences.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Comment votre site peut-il m'aider à économiser du temps dans la planification de mon mariage ?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          Grâce à notre interface intuitive et à nos fonctionnalités automatisées, vous pouvez gagner un temps précieux en gérant les invitations, les réservations et d'autres détails en quelques clics, libérant ainsi du temps pour profiter de votre engagement.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Quels avantages votre site offre-t-il en termes de coordination des fournisseurs de mariage ?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          Nous simplifions la coordination avec les fournisseurs en offrant une plateforme centralisée où vous pouvez communiquer, planifier et organiser tous les détails avec les différents prestataires, garantissant une exécution fluide le jour J.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Comment puis-je personnaliser mon expérience de planification sur votre site ?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          Notre site propose des options de personnalisation étendues, vous permettant de choisir des thèmes, des couleurs et des fonctionnalités adaptées à votre vision unique du mariage. Vous avez le contrôle total sur l'apparence et le déroulement de votre grand jour.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          En quoi votre site facilite-t-il la gestion du budget de mariage ?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          Nous offrons des outils de suivi budgétaire intuitifs qui vous aident à rester sur la bonne voie financière. Vous pouvez fixer des limites, suivre les dépenses et recevoir des alertes pour éviter les imprévus.        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Pourquoi devrais-je faire confiance à votre site pour la sécurité de mes données personnelles ?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          La sécurité de vos données est notre priorité. Nous utilisons des mesures de sécurité avancées pour protéger vos informations personnelles et financières, assurant une expérience de planification de mariage en toute confiance.      </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            En quoi votre service peut-il aider à résoudre les problèmes de logistique liés à la planification d'un mariage ?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Nous simplifions la logistique en fournissant des outils pour la gestion des invités, la coordination des horaires, la réservation de lieux et d'autres aspects logistiques, garantissant une exécution sans accroc le jour du mariage.
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Comment votre site peut-il améliorer la communication entre les parties prenantes du mariage ?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
              Notre plateforme facilite la communication entre les mariés, les fournisseurs et les invités grâce à des fonctionnalités de messagerie, d'envoi d'invitations et de partage d'informations essentielles.
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Quels sont les avantages uniques de votre service qui pourraient faire de mon mariage une expérience exceptionnelle ?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Nous nous engageons à offrir une expérience exceptionnelle en mettant à votre disposition des outils novateurs, des ressources inspirantes et un support dédié pour que votre mariage soit vraiment mémorable.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
