<% content_for :title, "Foire aux questions" %>
<% content_for :meta_description, "Trouvez les réponses aux questions fréquemment posées. Explorez notre FAQ pour obtenir des informations sur nos services et bien plus encore." %>
<div class="container my-5">
  <h1 class="text-center mb-4">FAQ</h1>
  <h4>
    <p class="text-center">Questions fréquemment posées</p>
  </h4>
  <div class="accordion" id="faqAccordion">
    <!-- FAQ item 1 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Pourquoi utiliser Ceremonia pour planifier mon mariage ?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          Notre site internet offre une plateforme conviviale et complète qui simplifie tout le processus de planification de mariage, vous permettant de gérer tous les aspects de votre grand jour en un seul endroit.
        </div>
      </div>
    </div>
    <!-- FAQ item 2 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          En quoi votre service se distingue-t-il des autres sites de planification de mariage ?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          Notre service se distingue par sa personnalisation exceptionnelle, offrant des outils de planification adaptés à vos besoins spécifiques. Nous mettons l'accent sur la flexibilité pour répondre à toutes les demandes et préférences.
        </div>
      </div>
    </div>
    <!-- FAQ item 3 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Comment votre site peut-il m'aider à économiser du temps dans la planification de mon mariage ?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          Grâce à notre interface intuitive et à nos fonctionnalités automatisées, vous pouvez gagner un temps précieux en gérant les invitations, les réservations et d'autres détails en quelques clics, libérant ainsi du temps pour profiter de votre engagement.
        </div>
      </div>
    </div>
    <!-- FAQ item 4 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Quels avantages votre site offre-t-il en termes de coordination des fournisseurs de mariage ?
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          Nous simplifions la coordination avec les fournisseurs en offrant une plateforme centralisée où vous pouvez communiquer, planifier et organiser tous les détails avec les différents prestataires, garantissant une exécution fluide le jour J.
        </div>
      </div>
    </div>
    <!-- FAQ item 5 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Comment puis-je personnaliser mon expérience de planification sur votre site ?
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          Notre site propose des options de personnalisation étendues, vous permettant de choisir des thèmes, des couleurs et des fonctionnalités adaptées à votre vision unique du mariage. Vous avez le contrôle total sur l'apparence et le déroulement de votre grand jour.
        </div>
      </div>
    </div>
    <!-- FAQ item 6 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSix">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          En quoi votre site facilite-t-il la gestion du budget de mariage ?
        </button>
      </h2>
      <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          Nous offrons des outils de suivi budgétaire intuitifs qui vous aident à rester sur la bonne voie financière. Vous pouvez fixer des limites, suivre les dépenses et recevoir des alertes pour éviter les imprévus.
        </div>
      </div>
    </div>
    <!-- FAQ item 7 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSeven">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Pourquoi devrais-je faire confiance à votre site pour la sécurité de mes données personnelles ?
        </button>
      </h2>
      <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          La sécurité de vos données est notre priorité. Nous utilisons des mesures de sécurité avancées pour protéger vos informations personnelles et financières, assurant une expérience de planification de mariage en toute confiance.
        </div>
      </div>
    </div>
    <!-- FAQ item 8 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingEight">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          En quoi votre service peut-il aider à résoudre les problèmes de logistique liés à la planification d'un mariage ?
        </button>
      </h2>
      <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          Nous simplifions la logistique en fournissant des outils pour la gestion des invités, la coordination des horaires, la réservation de lieux et d'autres aspects logistiques, garantissant une exécution sans accroc le jour du mariage.
        </div>
      </div>
    </div>
    <!-- Add more FAQ items with unique data-bs-target values as needed -->
  </div>
</div>
