<div class="container my-5">
  <h1 class="text-center mb-4">Vos Retours</h1>
  <p class="text-center">
    Vos commentaires sont importants pour nous. Partagez-nous votre expérience et vos suggestions.
  </p>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form class="events-container-bg">
        <div class="mb-3">
          <label for="feedbackName" class="form-label">Votre Nom</label>
          <input type="text" class="form-control" id="feedbackName" placeholder="Entrez votre nom">
        </div>
        <div class="mb-3">
          <label for="feedbackEmail" class="form-label">Adresse Email</label>
          <input type="email" class="form-control" id="feedbackEmail" placeholder="Entrez votre email">
        </div>
        <div class="mb-3">
          <label for="feedbackMessage" class="form-label">Votre Retour</label>
          <textarea class="form-control" id="feedbackMessage" rows="5" placeholder="Votre message ici"></textarea>
        </div>
        <div class="text-center">
          <button type="submit" class="sweetButton">Envoyer</button>
        </div>
      </form>
    </div>
  </div>
</div>
