<div class="container" id="jumbotron">
  <div class="row d-flex justify-content-around mb-5">
    <div class="col-md-4">
      <%= image_tag('main.png', class: 'img-fluid mx-auto d-block', alt: 'main', style: 'max-width: 100%; max-height: 500px;') %>
    </div>
    <div class="col-md-3 mt-5 d-flex justify-content-center">
      <div class="row" id="">
        <h1 class="text-center">CEREMONIA</h1>
        <h2 class="text-center"> La plannification de mon mariage. Facile. Ludique.</h2>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container" id="home-text">
  <div class="row m-5 justify-content-start">
    <div class="col-md-8 pl-5 ">
      <p>Organiser son mariage est une aventure exaltante qui demande une planification minutieuse et une attention particulière aux détails. Tout commence par la vision que vous avez pour votre journée spéciale. Prenez le temps de discuter avec votre partenaire pour définir vos priorités et créer une liste de souhaits. Établissez un budget réaliste et identifiez les aspects les plus importants pour vous deux.</p>
      <p>Le choix du lieu de mariage est crucial, car il crée l'ambiance de votre célébration. Pensez également à la logistique, comme l'hébergement des invités et les transports. La sélection des prestataires, tels que le traiteur, le photographe et le fleuriste, joue un rôle clé dans la création de souvenirs durables.</p>
      <%= link_to experience_path, class: "sweetButton" do %>
        <h6 class="m-0">Un Jour Inoubliable</h6>
      <% end %>
    </div>
    <div class="col-md-2 align-items-center">
      <%= image_tag('eglise.webp', class: 'img-fluid', alt:"alliance", style:"width: 100%;") %>
    </div>
  </div>
</div>
