<% content_for :title, "Page d'Accueil" %>
<% content_for :meta_description, "Bienvenue sur Ceremonia, votre partenaire pour la planification de mariage. De la vision à la réalité, nous vous accompagnons dans cette aventure exaltante. Créez des souvenirs durables avec une planification facile et ludique." %>
<div class="container" id="jumbotron">
  <div class="row d-flex justify-content-around mb-5">
    <div class="col-md-3 mt-5 d-flex justify-content-center">
      <div class="row" id="">
        <h1 class="text-center">CEREMONIA</h1>
        <br>
        <h2 class="text-center no-wrap"> La planification de mon mariage. Facile et ludique.</h2>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container" id="home-text">
  <div class="row m-5 justify-content-start">
    <div class="col-md-8 pl-5 ">
      <p class="larger-font">Organiser son mariage est une aventure exaltante qui demande une planification minutieuse et une attention particulière aux détails. Tout commence par la vision que vous avez pour votre journée spéciale. Prenez le temps de discuter avec votre partenaire pour définir vos priorités et créer une liste de souhaits. Établissez un budget réaliste et identifiez les aspects les plus importants pour vous deux.</p>
      <p class="larger-font">Le choix du lieu de mariage est crucial, car il crée l'ambiance de votre célébration. Pensez également à la logistique, comme l'hébergement des invités et les transports. La sélection des prestataires, tels que le traiteur, le photographe et le fleuriste, joue un rôle clé dans la création de souvenirs durables.</p>
      <%= link_to experience_path, class: "sweetButton" do %>
        <h6 class="m-0">Un Jour Inoubliable</h6>
      <% end %>
    </div>
    <div class="col-md-2 align-items-center">
      <%= image_tag('eglise.webp', class: 'img-fluid', alt: "alliance", style: "width: 100%;") %>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4 location-cards-container">
  <div class="col">
    <div class="card cards-accueil-style">
      <img src="https://images.unsplash.com/photo-1465495976277-4387d4b0b4c6?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjh8fHdlZGRpbmclMjBoYW5kfGVufDB8fDB8fHww" class="card-img-top rounded-image" alt="...">
      <div class="card-body">
        <h5 class="card-title location-heading">Connectez-vous</h5>
        <p class="card-text">Le jour J c'est maintenant.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card cards-accueil-style">
      <img src="https://images.unsplash.com/photo-1606800052052-a08af7148866?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8d2VkZGluZ3xlbnwwfHwwfHx8MA%3D%3D" class="card-img-top rounded-image" alt="...">
      <div class="card-body">
        <h5 class="card-title location-heading">Organisation</h5>
        <p class="card-text">Facile et ludique</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card cards-accueil-style">
      <img src="https://images.unsplash.com/photo-1529634806980-85c3dd6d34ac?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3" class="card-img-top rounded-image" alt="...">
      <div class="card-body">
        <h5 class="card-title location-heading">Inspirez-vous</h5>
        <p class="card-text">Découvrez de vrais mariages réalisés via notre site.</p>
      </div>
    </div>
  </div>
</div>
