<% content_for :title, "Page d'Accueil" %>
<% content_for :meta_description, "Bienvenue sur Ceremonia, votre partenaire pour la planification de mariage. De la vision à la réalité, nous vous accompagnons dans cette aventure exaltante. Créez des souvenirs durables avec une planification facile et ludique." %>
<div class="container" id="jumbotron">
  <div class="row">
    <h1 class="text-center">CEREMONIA</h1>
    <br>
    <h2 class="text-center no-wrap"> La planification de mon mariage facile et ludique.</h2>
  </div>
</div>
<div class="container" id="home-text">
  <div class="row justify-content-center">
    <div class="col-md-6 pl-md-5 d-flex align-items-center">
      <div class="text-center">Organiser son mariage est une aventure exaltante qui demande une planification minutieuse et une attention particulière aux détails. <br><br><br>
        Tout commence par la vision que vous avez pour votre journée spéciale.</div>
    </div>
    <div class="col-md-2 d-flex align-items-center justify-content-center text-center">
      <%= image_tag('background_b&w.jpg', class: 'img-fluid', alt: "alliance", style: "max-width: 100%; height: auto;") %>
    </div>
  </div>
</div>
<div class="container text-center mx-auto mt-5">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <!-- Première carte -->
    <div class="col-md-4">
      <%= link_to new_user_session_path, class: "text-decoration-none" do %>
        <div class="card h-100">
          <img src="https://images.unsplash.com/photo-1465495976277-4387d4b0b4c6?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjh8fHdlZGRpbmclMjBoYW5kfGVufDB8fDB8fHww" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Connectez-vous</h5>
            <div class="card-text">Le jour J c'est maintenant</div>
          </div>
        </div>
      <% end %>
    </div>
    <!-- Deuxième carte -->
    <div class="col-md-4">
      <%= link_to experience_path, class: "text-decoration-none" do %>
        <div class="card h-100">
          <img src="https://images.unsplash.com/photo-1606800052052-a08af7148866?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8d2VkZGluZ3xlbnwwfHwwfHx8MA%3D%3D" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Organisez votre mariage</h5>
            <div class="card-text">Ceremonia vous permet de le faire de manière facile et ludique</div>
          </div>
        </div>
      <% end %>
      </div>
      <!-- Troisième carte  -->
      <div class="col-md-4">
        <%= link_to experience_path, class: "text-decoration-none" do %>
          <div class="card h-100">
            <img src="https://images.unsplash.com/photo-1529634806980-85c3dd6d34ac?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Inspirez-vous</h5>
              <div class="card-text">Découvrez de vrais mariages réalisés via notre site</div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
