<div class="container my-5">
  <h1 class="text-center mb-4">Politique de Confidentialité</h1>
  <p class="text-center">
    Notre engagement envers la protection de vos données personnelles.
  </p>
  <div class="text-justify">
    <!-- The privacy policy goeshere !! -->
    <p>Section 1: Collecte des données</p>
    <p>Section 2: Utilisation des données</p>
    <p>Section 3: Protection des données</p>
    <p>Section 4: Droits d'auteur</p>
    <p>Section 5: Liens vers d'autres sites</p>
    
    <!-- Add more sections as needed -->
  </div>
</div>
