<% content_for :title, "Politique de Confidentialité" %>
<% content_for :meta_description, "Découvrez notre engagement envers la protection de vos données personnelles. Informations sur la collecte, l'utilisation, la protection des données, les droits d'auteur et les liens vers d'autres sites." %>
<div class="container my-5">
  <h1 class="text-center mb-4">Politique de Confidentialité</h1>
  <p class="text-center">
    Notre engagement pour la protection de vos données personnelles.
  </p>
  <div class="text-justify">
    Politique de Confidentialité de Cérémonia

Dernière mise à jour : [14/12/2023]

<h3>Cérémonia ("Nous", "Notre", "Nos") est déterminé à protéger la vie privée de ses utilisateurs. Cette Politique de Confidentialité explique comment nous recueillons, utilisons, divulguons et protégeons vos informations lors de votre utilisation du site web de Cérémonia (le "Site"). En utilisant le Site, vous acceptez les termes de cette Politique de Confidentialité.</h3>
<br><br>
<h3>1. Informations Collectées</h3>

<p>a. Informations Personnelles : Lors de votre inscription sur le Site, nous pouvons collecter des informations personnelles telles que votre nom, adresse e-mail, adresse postale, numéro de téléphone, et d'autres informations pertinentes pour la planification de mariage.</p>

<p>b. Informations d'Utilisation : Nous recueillons des informations sur la manière dont vous utilisez le Site, y compris les pages que vous consultez, les fonctionnalités que vous utilisez, et d'autres données de suivi.</p>

<p>c. Cookies et Technologies Similaires : Nous utilisons des cookies et d'autres technologies de suivi pour améliorer votre expérience sur le Site et pour recueillir des informations sur votre navigation.</p>

<h3>2. Utilisation des Informations</h3>

<p>a. Nous utilisons les informations collectées pour personnaliser votre expérience sur le Site, traiter vos demandes, vous envoyer des communications liées à nos services, et améliorer nos offres et fonctionnalités.</p>

<p>b. Nous pouvons également utiliser vos informations pour des analyses internes, des études de marché, et pour améliorer la sécurité du Site.</p>

<h3>3. Partage des Informations</h3>

<p>a. Nous ne vendons, n'échangeons ni ne louons vos informations personnelles à des tiers sans votre consentement explicite.</p>

<p>b. Nous pouvons partager des informations agrégées et anonymisées avec des partenaires ou des annonceurs à des fins de marketing ou d'analyse.</p>

<p>c. Nous pouvons divulguer vos informations dans le respect de la loi, pour protéger nos droits légaux, ou pour répondre à des exigences légales.</p>

<h3>4. Sécurité des Données</h3>

<p>a. Nous mettons en œuvre des mesures de sécurité appropriées pour protéger vos informations contre tout accès non autorisé, divulgation, altération ou destruction.</p>

<p>b. Malgré nos efforts, aucune transmission de données sur Internet ni aucun système de stockage n'est totalement sûr. Vous utilisez le Site à vos propres risques.</p>

<h3>5. Liens vers des Sites Tiers</h3>

<p>Le Site peut contenir des liens vers des sites web de tiers. Nous ne sommes pas responsables des pratiques de confidentialité de ces sites. Nous vous encourageons à lire les politiques de confidentialité de ces sites.</p>

<h3>6. Modifications de la Politique de Confidentialité</h3>

<p>Nous nous réservons le droit de modifier cette Politique de Confidentialité à tout moment. Toute modification sera publiée sur cette page avec la date de la dernière mise à jour.</p>

<h3>7. Contact</h3>

<p>Si vous avez des questions concernant cette Politique de Confidentialité, veuillez nous contacter à l'adresse suivante : ceremonia@yopmail.com.</p>
  </div>
</div>
