<div class="container my-5">
  <h1 class="text-center mb-4">Conditions Générales d'Utilisation</h1>
  <p class="text-center">
    Veuillez lire attentivement ces conditions avant d'utiliser notre service.
  </p>
  <div class="text-justify">
    <!-- Terms of service text goes here ! -->
    <p>Section 1: Introduction</p>
    <p>Section 2: Utilisation du service</p>
    <p>Section 3: Limitation de responsabilités</p>
    <p>Section 4: Modifications</p>
    <p>Section 5: Droits d'auteur</p>
    <p>Section 6: Liens vers d'autres sites</p>
</div>
