<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Bonjour,
    <br>
    Nous sommes heureux de vous compter parmi nos membres
    </h1>
    <p>
      Nous vous confirmons votre inscription sur notre site internet avec le courriel : <%= @user.email %>.
    </p>
    <p>
      Pour entrer dans votre espace client, connectez-vous via : <%= @url %>.
    </p>
    <p> Ceremonia reste à votre disposition
  </body>
</html>