<% content_for :title, "Modifier un Événement" %>
<% content_for :meta_description, "Modifiez les détails de cet événement, y-compris le titre, la description, et la date." %>

<div class="container-custom couple-bg-container">
  <h2 style="color: #ffffff; text-shadow: 1px 1px 20px #000000;">Modifier votre événement</h2>
  <%= render "form", event: @event %>
</div>