<h1>Mes événements</h1>

<!-- Liste des événements de l'utilisateur -->
<% @events.each do |event| %>
  <div>
    <%= link_to event_path(event) do %>
      <h2><%= event.title %></h2>
    <% end %>
  </div>
<% end %>

<%= link_to 'crée un nouvel evenement', new_event_path %>

