<% content_for :title, "Liste de Vos Événements" %>
<% content_for :meta_description, "Consultez la liste de vos événements et créez de nouveaux événements pour célébrer vos moments spéciaux." %>

<header>
  <h2 class="eventlisttitre apparitionprofil">Liste de vos événements</h2>
</header>

<% if @events != nil %>
  <div class="events-container apparitionprofil">
    <% @events.each do |event| %>
      <div class="event-card apparitionprofil">
        <%= link_to event_path(event) do %>
          <h2><%= event.title %></h2>
        <% end %>
      </div>
  <% end %>

  </div>
<% else %>
  <p class="apparitionprofil">Aucun événement à afficher pour le moment.</p>
<% end %>
<%= link_to 'Créer un nouvel événement', new_event_path, class: 'sweetButton create-event-link apparitionprofil' %>
