<% content_for :title, "Création d'un Nouvel Événement" %>
<% content_for :meta_description, "Utilisez notre formulaire pour créer un nouvel événement et célébrer vos moments spéciaux. Indiquez le titre, la date, le lieu et le programme de votre événement." %>

<div class="container-custom couple-bg-container">
  <h2 style="color: #ffffff; text-shadow: 1px 1px 20px #000000;">Nouvel évènement </h2>
  <%= render "form", event: @event %>
</div>