<% content_for :title, "Détails de l'Événement" %>
<% content_for :meta_description, "Consultez les détails de cet événement, y compris la liste des invités, les informations sur l'événement et explorez les photos de l'album." %>

<div class="show-content">
  <%= render "sidebar"%>
  <%= render "event"%>
</div>

<script type="application/ld+json">
  <%= event_jsonld(@event) %>
</script>