 <div style="text-align: center;">

<h1> ceci est l'index album </h1>

<% @albums.each do |album| %>
  <%= album.title %>
  <%= link_to 'Voir Album', event_album_images_path(@event, album.id), class: 'btn btn-primary'%>
  <%= button_to 'Supprimer Album', event_album_path(@event, album.id), method: :delete, class: 'btn btn-danger' %>
  <br>
<% end %>


</div>