/* ------------- BUTTONS ------------- */

.btn {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.animated-container form {
  transition: transform 0.3s ease-in-out;
}

.animated-container form:hover {
  transform: scale(1.05);
}

.slide-in-from-bottom {
  position: relative;
  animation: animateBottom 1s;
}

/* ------------- PROFILE ------------- */

.apparitionprofil {
  opacity: 0;
  transform: translateX(100%);
  animation: apparition 1.5s ease-out forwards;
}

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}


/* ----------------------------- SLIDE INs --------------------------- */

/* -------------- SLIDE IN FROM RIGHT LIGHT -------------- */

@keyframes slideInFromRightLight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* -------------- SLIDE IN FROM RIGHT FULL -------------- */

@keyframes slideInFromRightFull {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* -------------- SLIDE IN FROM LEFT LIGHT -------------- */

@keyframes slideInFromLeftLight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* -------------- SLIDE IN FROM LEFT FULL -------------- */

@keyframes slideInFromLeftFull {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* -------------- SLIDE IN FROM BOTTOM LIGHT -------------- */

@keyframes slideInFromBottomLight {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* -------------- SLIDE IN FROM BOTTOM FULL -------------- */

@keyframes slideInFromBottomFull {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* -------------- SLIDE IN FROM TOP LIGHT -------------- */

@keyframes slideInFromTopLight {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* -------------- SLIDE IN FROM TOP FULL -------------- */

@keyframes slideInFromTopFull {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ----------------------------- FADE INs --------------------------- */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}