/* ------------- BUTTONS ------------- */

.btn {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.container form {
  transition: transform 0.3s ease-in-out;
}

.container form:hover {
  transform: scale(1.05);
}

/* ------------- JUMBO ------------- */

#jumbotron {
  animation: slideInFromLeft 1.5s ease-out forwards;
}

#home-text {
  animation: slideInFromRight 1.5s ease-out forwards;
}

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* -------------- SLIDE IN FROM LEFT -------------- */

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ------------- SLIDE IN FROM RIGHT ------------- */

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-bottom {
  position: relative;
  animation: animateBottom 1s;
}

@keyframes animateBottom {
  from {
    bottom: -100px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

/* ------------- PROFIL ------------- */


.apparitionprofil {
  opacity: 0;
  transform: translateX(100%);
  animation: apparition 1.5s ease-out forwards;
}