/* ----------------   ACCUEIL ---------------------*/

.img-fluid {
  border-radius: 15px;
}

.container {
  background-image: url('');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container form {
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.container form:hover {
  transform: scale(1.05);
}

.location-cards-container {
  display: flex;
  flex-wrap: wrap;
  /* Permet aux éléments de passer à la ligne lorsqu'ils n'ont pas assez d'espace */
  justify-content: space-around;
  /* Ajuste l'espacement entre les cartes */
}

.container-custom {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  border: 2px solid #f0d88f;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: slideInFromRight 1s ease-out;
}

.events-container img {
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.events-container-bg {
  display: grid;
  background-image: url('https://images.unsplash.com/photo-1519741497674-611481863552?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  opacity: 0;
  transform: translateX(-20px);
  background-size: cover;
  background-position: center;
  animation: slideInFromRight 1s ease-out forwards;
}

.events-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  opacity: 0;
  transform: translateX(-20px);
  background-size: cover;
  background-position: center;
  padding: 20px;
  animation: fadeInFromLeft 1s ease-out forwards;
  background-image: url('https://plus.unsplash.com/premium_photo-1676272747130-348694463771?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZmxldXJzJTIwcm9zZXxlbnwwfDB8MHx8fDA%3D');
  opacity: 0.8;
}

.events-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
  opacity: inherit;
  z-index: -1;
  border-radius: 25px;
}

/*--- A REVOIR : 2 TAILLES DIFFERENTES ---*/

.centered-image {
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.centered-image {
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 300px;
  border-radius: 50%;
}



.carrejaune_accueil div {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
}

.carregris_accueil {
  margin-top: 30px;
  padding: 20px;
}