/* -------------- FOOTER -------------- */
#footer {
  background-color: rgba(252, 177, 207, 0.5);
  color: white;
  text-align: center;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#footer .d-md-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 42px;
}

#footer .footer-link {
  padding: 3px 8px;
  margin: 0 3px;
  display: inline-block;
}

#footer a:hover,
#footer .footer-link:hover,
#footer .btn:hover {
  color: #fcb1cf !important;
  background-color: rgb(59, 59, 59) !important;
  transition: color 0.3s ease, background-color 0.3s ease;
}

/* Ajout de styles pour les icônes */
#footer i {
  margin-right: 5px;
}