/* -------------- CAROUSEL -------------- */

.my-custom-carousel {
  max-height: 400px;
  /* Adjust the height as needed */
}

.my-custom-carousel .carousel-inner {
  text-align: center;
}

.my-custom-carousel img {
  width: 100%;
  /* Ensures the image takes the full width of the container */
  height: 100%;
  /* Ensures the image takes the full height of the container */
  object-fit: contain;
  /* Resizes the image to fit within the container while maintaining its aspect ratio */
}

/* -------------- CONTAINERS -------------- */

.events-container-bg {
  display: grid;
  background-image: url('https://images.unsplash.com/photo-1519741497674-611481863552?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  opacity: 0;
  transform: translateX(-20px);
  background-size: cover;
  background-position: center;
  animation: slideInFromRight 1s ease-out forwards;
}

.event-card {
  min-height: 300px;
  color: rgb(49, 48, 49);
  margin: 0;
  text-decoration: underline;
  text-decoration-color: #fcb1cf;
}

.events-section {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.contact_card div {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
}

/* -------------- CARDS -------------- */
.custom-card {
  background-color: rgba(255, 255, 255, 0.8) !important;
  color: #000;
}

.card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #ccc;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  text-align: center;
}

.card-body {
  padding: 20px;
}

.card-img-top {
  border-radius: 8px 8px 0 0;
}

#page_title {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

#div-a-masquer {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  box-shadow: none;
  padding: 0;
}

#div-a-masquer .btn {
  background: none;
  color: black;
  width: 48%;
  height: fit-content;
  border: none;
  border: none;
  text-transform: lowercase;
  border: 1px solid black;
  border-radius: 20px;
  font-weight: bolder;
}

#div-a-masquer a:hover,
#div-a-masquer button:hover {
  transform: scale(1) !important;
  background: black;
  color: white;
  transition: all 0.5s;
}

#div-a-masquer .add-to-cart {
  width: 100% !important;
  border-right: none;
  background: #E7BCDE;
  border-radius: 20px;
  color: black;
  border: none;
}

#div-a-masquer .form-inline {
  width: 48%;
}

/* -------------- BUTTONS -------------- */

.btn-light {
  background-color: #fcb1cf;
}

.rounded-button {
  border-radius: 10px;
  margin-right: 5px;
}

.unforgettable-button {
  max-width: 200px;
  margin: 0 auto;
}

.new-event-button {
  max-width: auto;
  margin: 0 auto;
}

.sweetButton {
  box-shadow: inset 0px 1px 0px 0px #f7c5c0;
  background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
  background-color: #fc8d83;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 100;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sweetButton:hover {
  background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
  background-color: #e4685d;
}

.sweetButton:active {
  position: relative;
  top: 1px;
}

.sign_outButton {
  box-shadow: inset 0px 1px 0px 0px #f7c5c0;
  background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
  background-color: #fc8d83;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: gray;
  !important;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 100;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign_out:hover {
  background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
  background-color: #e4685d;
}

.sign_out:active {
  position: relative;
  top: 1px;
}

.coolButton {
  background-color: #5DAFE4;
  border-radius: 6px;
  border: 1px solid #2A7EB1;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 100;
  padding: 6px 24px;
  text-decoration: none;
}

.coolButton:hover {
  background-color: #2A7EB1;
}

.coolButton:active {
  position: relative;
  top: 1px;
}

.successButton {
  box-shadow: inset 0px 1px 0px 0px #c0f7c5;
  background: linear-gradient(to bottom, #83fc8d 5%, #5de468 100%);
  background-color: #83fc8d;
  border-radius: 6px;
  border: 1px solid #26d835;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 100;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #35b23e;
}

.successButton:hover {
  background: linear-gradient(to bottom, #5de468 5%, #83fc8d 100%);
  background-color: #5de468;
}

.successButton:active {
  position: relative;
  top: 1px;
}

.warningButton {
  box-shadow: inset 0px 1px 0px 0px #f7f2c0;
  background: linear-gradient(to bottom, #f2e883 5%, #e4d45d 100%);
  background-color: #f2e883;
  border-radius: 6px;
  border: 1px solid #d8c335;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 100;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b2a935;
}

.warningButton:hover {
  background: linear-gradient(to bottom, #e4d45d 5%, #f2e883 100%);
  background-color: #e4d45d;
}

.warningButton:active {
  position: relative;
  top: 1px;
}

/* -------------- ANIMATIONS -------------- */

.btn {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.container form {
  transition: transform 0.3s ease-in-out;
}

.container form:hover {
  transform: scale(1.05);
}

/* -------------- AVATAR -------------- */

.profile-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100%;
  /* background-image: url("https://images.unsplash.com/photo-1589645858872-647d43ae8ce6?q=80&w=2926&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  transform: scale(1.05);
}

#avatar-form {
  position: relative;
}

#avatar-input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.event-card {
  min-height: 300px;
  color: rgb(49, 48, 49);
  margin: 0;
  text-decoration: underline;
  text-decoration-color: #fcb1cf;
}

.events-section {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}