/* -----------page d'accueil img eglise-police-etc-----------debut----------------------- */
.img-fluid {
  border-radius: 15px;
}

/*card accueil*/
/* Ajoutez cette classe pour le style des images dans les colonnes */
.grid-img-accueil {
  max-width: 100%;
  /*La largeur maximale de l'image sera celle de la colonne */
  height: 70%;
  /*La hauteur s'ajustera proportionnellement à la largeur */
  border-radius: 8px;
  /* Ajoutez une bordure arrondie si vous le souhaitez */
  margin-bottom: 10px;
  /* Ajoutez une marge en bas pour l'espacement */
}