/* -----------page d'accueil img eglise-police-etc-----------debut----------------------- */
.img-fluid {
  border-radius: 15px;
}

.no-wrap {
  white-space: nowrap;
}

.larger-font {
  font-size: 29px;
  /* Ajustez la taille de la police selon vos préférences*/
  color: #0D0000;
}

/*card accueil*/
/* Ajoutez cette classe pour le style des images dans les colonnes */
.grid-img-accueil {
  max-width: 100%;
  /*La largeur maximale de l'image sera celle de la colonne */
  height: 70%;
  /*La hauteur s'ajustera proportionnellement à la largeur */
  border-radius: 8px;
  /* Ajoutez une bordure arrondie si vous le souhaitez */
  margin-bottom: 10px;
  /* Ajoutez une marge en bas pour l'espacement */
}