/* Ajoutez ces styles pour l'espace entre les cartes */
.row {
  margin-bottom: 20px;
}

.team-card {
  background: rgba(255, 182, 193, 0.1); /* Ajustez la valeur alpha pour plus ou moins de transparence */
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ajustez l'ombre selon vos préférences */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2); /* Ajustez la valeur alpha pour plus ou moins de transparence dans la bordure */
}
/* Couleur rose pour le bouton GitHub */
.btn-primary {
  background-color:  rgba(242, 109, 145, 0.5); /* Couleur rose */
  border-color: #F26D91; /* Couleur rose pour la bordure (peut être différente si vous le souhaitez) */
  color: #fff; /* Texte en blanc pour contraster avec la couleur rose */
  }
.btn-primary:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Noir au survol */
    border-color: rgba(0, 0, 0, 1); /* Noir au survol */
    color: #fff; /* Texte en blanc au survol */
  }
  

/* Couleur orange pour le bouton LinkedIn */
.btn-info {
  background-color:rgba(217, 150, 126, 0.5); /* Couleur orange */
  border-color: #D9967E; /* Couleur orange pour la bordure (peut être différente si vous le souhaitez) */
  color: #fff; /* Texte en blanc pour contraster avec la couleur orange */
}
.btn-info:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Noir au survol */
  border-color: rgba(0, 0, 0, 1); /* Noir au survol */
  color: #fff; /* Texte en blanc au survol */
}

/* Ajoutez ces styles dans votre fichier CSS */
.btn-form-success {
  background-color: #D9967E; /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte du bouton */
}

/* Si vous voulez également un style au survol du bouton */
.btn-form-success:hover {
  background-color: #000000; /* Nouvelle couleur de fond au survol */
  color: #fff; /* Nouvelle couleur du texte au survol */
}
.img-event-show{border-radius: 2%;}
.img-events-show-guest{border-radius: 2%;
  background-image: url("https://images.unsplash.com/photo-1566125882500-87e10f726cdc?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGV0dHJlfGVufDB8MHwwfHx8MA%3D%3D");}
  