/* -------------- NAVBAR -------------- */
.glass {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  z-index: 1000;
  color: #fcb1cf;
  margin-bottom: 0;
/* From https://css.glass */
background-color: rgba(242, 109, 145, 0.3);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.2px);
-webkit-backdrop-filter: blur(3.2px);
border: 1px solid rgba(82, 40, 40, 0.3);
}

.logo-img {
  max-width: 72px;
  height: auto;
  margin-right: 10px;
  border-radius: 50%;
}

.nav-item.sign-in,
.nav-item.sign-up {
  list-style-type: none;
}

.nav-item.sign-in a,
.nav-item.sign-up a,
.navbar-nav .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #000 !important;
  transition: background-color 0.3s ease;
}

.nav-item.sign-in a:hover,
.nav-item.sign-up a:hover,
.navbar-nav .nav-link:hover {
  background-color: rgb(59, 59, 59) !important;
  color: #fcb1cf !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar-brand {
  animation: fadeIn 1s forwards;
}

.content {
  padding-top: 120px;
  padding-bottom: 100px;
}

/* -------------- FOOTER -------------- */


#footer {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  
  /* Semi-transparent pink */
  padding: 10px 0;
  color: white;
  height: 60px;
  z-index: 1000;
  background-color: rgba(242, 109, 145, 0.3);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.2px);
-webkit-backdrop-filter: blur(3.2px);
border: 1px solid rgba(82, 40, 40, 0.3);

}

.footer-left {
  display: flex;
  align-items: center;
  padding: 10px;
}

.footer-right {
  display: flex;
  align-items: center;
  padding-right: 5px;
}

.footer-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-left: calc(440px);
  /* Adjust this value based on the content of the left container */
  margin-right: calc(200px);
  /* Adjust this value based on the content of the right container */
}

.content-wrapper {
  margin-bottom: 60px;
  min-height: 100vh;
}

.footer-link:hover {
  color: #fcb1cf !important;
  background-color: rgb(59, 59, 59) !important;
  transition: color 0.3s ease, background-color 0.3s ease;
}


/* @font-face {
  font-family: 'ImprintMTShadow';
  src: url('/asset/fonts/ImprimMTShadow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.title1 {
  font-family: 'ImprintMTShadow';
  font-size: 6rem;
  color: #fcb1cf;
}

.hyphen {
  font-family: 'ImprintMTShadow';
  font-size: 6rem;
  color: #fcb1cf;
}

.leit {
  font-family: 'ImprintMTShadow';
  font-size: 3rem;
  color: #fcb1cf;
  padding-bottom: 20px;
} */