/* Styles pour la barre latérale */
.side-bar {
  position: fixed;
  width: 280px; /* Largeur de la barre latérale */
  height: 100%;
  top: 0;
  left: -280px; /* Cachée par défaut */
  background-color: rgba(242, 109, 145, 0.3); /* Couleur de fond */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
  transition: left 0.3s ease; /* Animation de déplacement */
  z-index: 1000;
}

.side-bar.show {
  left: 0; /* Affichée lorsque la classe "show" est présente */
}

/* Styles pour le bouton de bascule */
.header_toggle {
  cursor: pointer;
  font-size: 24px;
  margin: 10px;
  color: #fcb1cf;
}

/* Styles pour les éléments de la barre latérale */
.nav_logo {
  display: flex;
  align-items: center;
  padding: 20px;
  color: #fcb1cf;
  text-decoration: none;
}

.nav_logo i {
  font-size: 24px;
  margin-right: 10px;
}

.nav_list {
  padding: 0;
  list-style: none;
}

.nav_link {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  text-decoration: none;
  color: #12090d;
  transition: background-color 0.3s ease;
}

.nav_link i {
  font-size: 20px;
  margin-right: 10px;
}

.nav_link:hover {
  background-color: #fcb1cf;
  color: #333;
}

/* Styles pour le lien de déconnexion */
.nav_link.logout {
  background-color: #fcb1cf;
  color: #333;
}

/* Styles pour l'image de profil */
.header_img img {
  width: 100%;
  max-width: 80px;
  height: auto;
  border-radius: 50%;
  margin: 20px;
}

/* Pour les écrans larges, la barre latérale est visible */
@media (min-width: 768px) {
  .side-bar {
    left: 0;
  }
}

/* Pour les écrans étroits, la barre latérale est cachée */
@media (max-width: 767px) {
  .side-bar {
    left: -280px;
  }
}
