body {
  margin:0;
  padding:0;
  height:100%;
  background-color: #f5f5f5;
  font-family: 'Arial', sans-serif;
}

@font-face {
  font-family: 'ImprintMTShadow';
  src: url('/asset/fonts/ImprimMTShadow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.title1 {
  font-family: 'ImprintMTShadow';
  font-size: 6rem;
  color: #fcb1cf;
}

.hyphen {
  font-family: 'ImprintMTShadow';
  font-size: 6rem;
  color: #fcb1cf;
}

.leit {
  font-family: 'ImprintMTShadow';
  font-size: 3rem;
  color: #fcb1cf;
  padding-bottom: 20px;
}

.btn-light {
  background-color: #fcb1cf;

}

.logo-img {
  max-width: 100px; 
  height: auto; 
  margin-right: 10px;
  border-radius: 89px;
}
.rounded-button {
  border-radius: 10px; 
  margin-right: 5px;
}

/* styles.css by flo------------------debut----------------------- */
.container-custom {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  border: 2px solid #f0d88f;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color:  #ebaecd;
  text-align: center;
}

.field {
  margin-bottom: 20px;
}

label {
  color: #ebaecd;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.actions {
  text-align: center;
}

input[type="submit"] {
  background-color: #ffc107;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ffdb58;
}

/* styles.css by flo---------------fin-------------------------- */

/* position footer by flo------*/
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fcb1cf;
  padding: 10px 0;
  color: white;
  text-align: center;
  height: 40px;
}
.content-wrapper {
    margin-bottom: 60px; /* Marge en bas égale à la hauteur du footer */
    min-height: 100vh; /* Assurez-vous que la hauteur minimale est d'au moins 100% de la vue */
  }

  .content {
    padding-bottom: 150px;
  }
/* position footer fin by flo------*/



/*animation_navbar_by_flo----debut-----------------*/
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*animation_navbar_by_flo----fin-----------------*/


/*----------animation accueil by flo debut---------*/
#jumbotron {
  animation: slideInFromLeft 1.5s ease-out forwards; 
}

/* Ajoutez ces règles CSS pour l'animation d'apparition de droite à gauche */
#home-text {
  animation: slideInFromRight 1.5s ease-out forwards; /* forwards maintient les propriétés à la fin de l'animation */
}



/* Définition de l'animation slideInFromLeft */
@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-20px); /* Déplacement initial vers la gauche */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Pas de déplacement, position finale */
  }
}


@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(20px); /* Déplacement initial vers la droite */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Pas de déplacement, position finale */
  }
}

/* Ajoutez ces règles pour l'animation d'apparition de gauche à droite */
#jumbotron .col-4,
#jumbotron .col-3 {
  opacity: 0;
  transform: translateX(-100%);
  animation: slideInFromLeft 1.5s ease-out forwards;
}
@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%); /* Déplacement initial vers la gauche */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Pas de déplacement, position finale */
  }
}
/*----------animation accueil by flo fin---------*/


/*animation_form_signup/sign_in_by_flo----debut-----------------*/
@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.container-custom {
  animation: slideInFromRight 1s ease-out;
}
/*animation_form_signup_by_flo----fin-----------------*/

/* design event show creer par flo-----debut------------------ */
.event-heading, .guest-heading {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333; /* Couleur du texte */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd; /* Bordures de la table */
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2; /* Couleur de fond pour les en-têtes */
}

/* Animation d'apparition */
.animate-bottom {
  position: relative;
  animation: animateBottom 1s;
}

@keyframes animateBottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
/* design event show creer par flo-----fin------------------ */




