@font-face {
  font-family: 'ImprintMTShadow';
  src: url('/asset/fonts/ImprimMTShadow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.title1 {
  font-family: 'ImprintMTShadow';
  font-size: 6rem;
  color: #fcb1cf;
}

.hyphen {
  font-family: 'ImprintMTShadow';
  font-size: 6rem;
  color: #fcb1cf;
}

.leit {
  font-family: 'ImprintMTShadow';
  font-size: 3rem;
  color: #fcb1cf;
  padding-bottom: 20px;
}

.btn-light {
  background-color: #fcb1cf;

}

.logo-img {
  max-width: 100px; 
  height: auto; 
  margin-right: 10px;
  border-radius: 89px;
}
.rounded-button {
  border-radius: 10px; 
  margin-right: 5px;
}

/* styles.css by flo----------------------------------------- */

body {
  background-color: #f5f5f5;
  font-family: 'Arial', sans-serif;
}

.container-custom {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  border: 2px solid #f0d88f;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color:  #ebaecd;
  text-align: center;
}

.field {
  margin-bottom: 20px;
}

label {
  color: #ebaecd;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.actions {
  text-align: center;
}

input[type="submit"] {
  background-color: #ffc107;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ffdb58;
}
/* styles.css by flo----------------------------------------- */