<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Bonjour <% @user.email%>,
    <br>
    Nous avons reçu une demande de renouvellement de votre mot de passe.
    </h1>
    <p>
    Vous pouvez effectuer cette action en cliquant sur le lien ci-dessous.
    </p>
    <p>
      <%= link_to "Réinitialiser votre mot de passe", edit_user_password_url(reset_password_token: @user.reset_password_token, host: 'localhost:3000') %>.
    </p>
    <p> Ceremonia reste à votre disposition
  </body>
</html>
