 <div style="text-align: center;">


<h1> ceci est  l'index des images d'un album </h1>

    <%= link_to 'Retour Album Photo', @album ? event_album_event_album_path(@event, @album.id) : event_album_event_album_path(@event), class: 'btn btn-primary' %>

    <%= link_to 'retour au show event', event_path(@event), class: 'btn btn-success'%>


</div>