<div class="container-fluid" id="footer">
  <div class="row d-flex ">
    <div class="col-2">
      <h6>Qui sommes nous ?</h6>
    </div>
    <div class="col-1">
      <h6>Contact</h6>
    </div>
    <div class="col-1">
      <h6>CGU</h6>
    </div>
  </div>
</div>